/* Styling for absentee related elements */
.contentWrapper {
    background-color: white;
}

#absentieForm input[type = 'date'],#absentieForm input[type = 'time'] {
    margin-left: 39px;
    border-radius: 3px;
    border: 1px solid rgb(160,160,160);
    padding: 5px 10px;
}

#timeWrapper select {
    margin-left: 38px;
    border-radius: 3px;
    border: 1px solid rgb(160,160,160);
    padding: 5px 10px;
}

#absentieForm {
    margin-top: 10px;
    padding: 10px;
}
#absentieForm textarea {
    width: 600px;
    height: 250px;
    margin-left: 20px;
    border-radius: 3px;
    padding: 5px 10px;
}

#absentieForm label {
    vertical-align: top;

}

#reasonWrapper {

}

#buttonWrapper {
    display: block;
    margin-left: 81px;
}

.interactive-text{
    color: #a6a6a6;
}

.interactive-text:hover{
    cursor: pointer;
    font-weight: bold;
}


.small {
    font-size: 10pt;
}

#absentieForm input[type = 'date'].no-margin {
    margin-left: 5px;
}