/* Styling for the dashboard */

#dashWrapper {
    max-width: 1600px;
    width: 100%;
    margin: 10px auto 0;
    border: 2px solid rgb(225,225,225);
    background: #ffffff;
}

#dashboard {

}

.notification {
    margin: 5px 5px;
    background: white;
}