html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
main, body, html {
    position: relative;
    height: 100%;
}

body {
    background: rgb(234,234,234);
}

.inline-image {
    height: 30px;
    width: 30px;

    /* Postioning */
    display: inline-block;
    padding-right: 5px;
    position: relative;
    top: 8px;
}

.inline-text {
    display: inline-block;


    /* Positioning */
    margin: 0;
}

.inline {
    display: inline;
}

.headElement {
    background: rgb(246,246,246);
    padding-bottom: 2px;
    height: 40px;
}
.headElement h2 {
    color: rgb(98,98,98);
    top: 1px;
}
.headElement img {
    top: 6px;
    padding-left: 15px;
    padding-right: 0;
}

.push-right {
    margin-left: 200px;
    padding: 20px;
}