
aside {
    height: calc(100% - 70px);
    width: 200px;
    background-color: rgb(125,125,125);
    color: white;
    vertical-align:top;
    float: left;
}

aside ul {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(100,100,100);
}

aside li {
    cursor: pointer;
    list-style: none;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    background-color: rgb(100,100,100)
}

aside ul li:nth-child(even) {
    background-color: rgb(125,125,125);
}
aside ul li:hover {
    background-color: rgb(150,150,150);
}
.icon {
    text-indent: 30px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px 7px;
}

aside a {
    text-decoration: none;
    color: white;
    font-size: 10pt;
}
.icon-calander { background-image: url('../img/calander.png'); }
.icon-crown { background-image: url('../img/crown.png');}
.icon-home { background-image: url('../img/dashboard.png');}
