.timetableWrapper, .filter{
    margin: 15px auto 0 auto;
    max-width: 1600px;
    width: 100%;
    border: 2px solid rgb(225,225,225);
}
.index-container {
    padding: 20px;
}
.push-right {
    margin-left: 200px;
    padding: 20px;
}
.headElement {
    background: rgb(246,246,246);
    padding-bottom: 2px;
    height: 40px;
}
.headElement h2 {
    color: rgb(98,98,98);
    top: 1px;
}
.headElement img {
    top: 6px;
    padding-left: 15px;
    padding-right: 0;
}
.searchbar {
    padding-bottom: 5px;
    min-height: 52px;
}
.searchButton {
    width: 100px;
    height: 40px;
    color: white;
    background: rgb(67,142,185);
    border: none;
}

.searchSpan {
    position: relative;
    top: 3px;
    outline: none;
    height: 40px;
    width: 500px;
    border: none;
    background: none;
}
.searchIcon {
    top: 12px;
    padding-left: 5px;
}

.stream-filters {

}

.timetable {
    text-align: center;
}


.timetable table {

    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    margin:0;
    font-size: 1.1em;
}
.timetable table, .timetable th, .timetable td {
    vertical-align: top;
}
th{
    height: 30px;
    vertical-align: middle;
    background-color: rgb(100,100,100);
    color: white;
    font-size: 1.3em;
    font-weight: normal;
}
tr{
    border-left:none;
    border-right:none;
    border-top: 1px solid rgb(200,200,200);
    min-height: 50px;
    background-color: white;
    color: rgb(51,51,51);
}
td{
    border-right: 1px solid rgb(200,200,200);
    width: 18%;
    height: 42px;

}
td:last-child {
    border-right:none;
}
.timetable-pref td {
    width: 15%;
}
.column-time {
    min-height: 20px;
    max-width: 40px;
    width: 5%;
    text-align: right;
    padding: 2px;
}
.column-colour {
    min-height: 20px;
    max-width: 40px;
    width: 5%;
    text-align: right;
    padding: 2px;
}
.namecard {
    cursor: pointer;
    padding: 2px 0;
}

.IT {background: rgba(200,0,0,0.2);}
.MA {background: rgba(0,200,0,0.2);}
.SC {background: rgba(200,0,200,0.2);}
.DH {background: rgba(200,200,0,0.2)}

.absent {
    color: rgba(0,0,0,0.25);
}


.filter-stream {
    color: rgb(98,98,98);
}
.filter-stream ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.filter-stream ul li {
    background: white;
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 15px;
    cursor: pointer;
}
#filterStreamIt {background: rgba(200,0,0,0.2);}
#filterStreamSc {background: rgba(200,0,200,0.2);}
#filterStreamMa {background: rgba(0,200,0,0.2);}
#filterStreamDh {background: rgba(200,200,0,0.2);}

/*added css for timetable preferences*/

