.searchbar {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 600px;
    margin: 0 auto;
}
.searchButton {
    width: 100px;
    height: 30px;

    color: white;
    background: rgb(67,142,185);
    border: none;
}
.searchSpan {

}

.searchSpan input {
    /* Firefox */
    width: -moz-calc(100% - 105px);
    /* WebKit */
    width: -webkit-calc(100% - 105px);
    /* Opera */
    width: -o-calc(100% - 105px);
    /* Standard */
    width: calc(100% - 105px);

    height: 30px;
}

.timetable {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}


.timetable table {

    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    margin:0;
    font-size: 1.1em;
}
.timetable table, .timetable th, .timetable td {
    vertical-align: top;
}
th{
    height: 30px;
    vertical-align: middle;
    background-color: rgb(100,100,100);
    color: white;
    font-weight: 700;
    font-size: 1.3em;

}
tr{
    border-left:none;
    border-right:none;
    border-top: 1px solid rgb(200,200,200);
    min-height: 50px;
    background-color: rgb(240,240,240);
    color: rgb(51,51,51);
}
td{
    border-right: 1px solid rgb(200,200,200);
    width: 18%;
    height: 42px;

}
td:last-child {
    border-right:none;
}
.column-time {
    min-height: 20px;
    max-width: 40px;
    width: 5%;
    text-align: right;
    padding: 2px;
}
.nameCard {
    background-color: rgba(200,0,0,0.2);
    display: block;
    padding: 2px 0;
    box-shadow: inset 0 0 1px 0 black;
}

.IT {background: rgba(200,0,0,0.2);}
.MA {background: rgba(0,200,0,0.2);}
.SC {background: rgba(200,0,200,0.2);}
.DH {background: rgba(200,200,0,0.2)}

.absent {
    color: rgba(0,0,0,0.25);
    background: rgb(240,240,240);
}